<!DOCTYPE html>
<html ng-app="chardbApp">
<head>
    <title th:text="${title}"></title>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'/>
    <link rel='stylesheet prefetch' href='/css/main.css'/>
    <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>
    <script type="text/javascript" src="/js/ng-imgur.min.js"></script>

    <script src="/js/main.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png"/>
</head>

<body>
<div class="page">
    <img id="leftTape" src="/images/tape-left.png"/>
    <img id="rightTape" src="/images/tape-right.png"/>
    <header>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/login" th:unless="${loggedIn}"><li>Login</li></a>
            <a href="/register" th:unless="${loggedIn}"><li>Register</li></a>
            <a href="/user" th:if="${loggedIn}"><li>Your Characters</li></a>
            <a href="/new" th:if="${loggedIn}"><li>New Character</li></a>
            <a href="/logout" th:if="${loggedIn}"><li>Logout</li></a>
        </ul>
    </header>
    <section id="userSection">
        <h1>All Characters</h1>
        <ul th:each="userEntry : ${charactersByUser}">
            <li><a href="/" th:href="@{'/user/'+${userEntry.key.id}}"><span class="userHeader" th:text="${userEntry.key.email}"></span></a></li>
            <li class="userCharacter" th:each="char : ${userEntry.value}">
                <a href="/" th:href="@{'/char/'+${char.id}}"><span th:text="${char.name}"></span></a>
            </li>
        </ul>
    </section>
</div>
</body>
</html>