<!DOCTYPE html>
<html ng-app="chardbApp">
<head>
    <title th:text="${title}"></title>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'/>
    <link rel='stylesheet prefetch' href='/css/main.css'/>
    <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>
    <script src='https://code.jquery.com/jquery-1.11.2.min.js'></script>
    <script type="text/javascript" src="/js/ng-imgur.min.js"></script>

    <script src="/js/main.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png"/>
</head>

<body>
<div class="page">
    <img id="leftTape" src="/images/tape-left.png"/>
    <img id="rightTape" src="/images/tape-right.png"/>
    <header th:replace="fragments/header :: header"></header>

    <section id="userSection" ng-controller="UserController">
        <div th:if="${edit}">
            <input type="hidden" id="currentName" th:value="${user.username}"/>
            Display Name: <input type="text" id="username" ng-model="username"/>

            <div class="charDbButton" id="saveUsername" ng-click='save()'>Save</div>
            <div class="shareLink">
                <label>Profile Link:</label> <a ng-href="/u/{{username}}">http://character.center/u/<span
                    ng-bind="username"></span></a>
            </div>
        </div>
        <section class="userSub">
            <h1 th:text="${characterHeader}">Your Characters</h1>
            <ul id="characterList">
                <li th:each="char : ${characters}">
                    <a href="/" th:href="@{'/char/'+${char.id}}"><span th:text="${char.name}"></span></a>
                    <a href="/" th:if="${edit}" th:href="@{'/char/'+${char.id}+'/edit'}">(edit)</a>
                </li>
            </ul>
        </section>
        <section class="userSub">
            <h1 th:text="${locationsHeader}">Your Locations</h1>
            <ul id="characterList">
                <li th:each="char : ${locations}">
                    <a href="/" th:href="@{'/l/'+${char.id}}"><span th:text="${char.name}"></span></a>
                    <a href="/" th:if="${edit}" th:href="@{'/l/'+${char.id}+'/edit'}">(edit)</a>
                </li>
            </ul>
        </section>
        <section class="userSub">
            <h1 th:text="${settingsHeader}">Your Characters</h1>
            <ul id="characterList">
                <li th:each="char : ${settings}">
                    <a href="/" th:href="@{'/s/'+${char.id}}"><span th:text="${char.name}"></span></a>
                    <a href="/" th:if="${edit}" th:href="@{'/s/'+${char.id}+'/edit'}">(edit)</a>
                </li>
            </ul>
        </section>
    </section>
    <img id="pen" src="/images/penspatter.png"/>
</div>
</body>
</html>