.classpath
.project
.settings
*.properties
target
.DS_Store
WebContent/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#build scripts
war.sh
boot.sh

#intellij files
editionscount.iml
.idea/
