.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

#loginButton {
	display: block;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

.container {
	padding: 10px;	
}

#itemSection input {
	margin-top: 10px;
	margin-left: 5px;
	width: 90%;
}

#itemSection input[type='checkbox'] {
  width: 20px !important;
}

#orderSection td {
    padding-left: 15px;
}

.orderDisplay .orderDisplayHeader {
    background-color: #337ab7;
    color: white;
}

.orderDisplay h4 {
    display: inline-block;
    padding: 10px;
    margin: 0px;
}

.orderDisplay {
    border: 1px solid #E0E0E0;
    margin-top: 10px;
}

.orderDisplay table {
    margin: 10px;
}

.addBtn {
	border: 1px solid black;
	background-color: #337ab7;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	margin-left: 5px;
	cursor: pointer;
}

.green {
    background-color: #007F00 !important;
}

.addBtn:hover {
	background-color: #6B6B6B;
}