<!DOCTYPE html>
<html>
<head>
    <title>Resupply Manager - Place Resupply Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="css/main.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Resupply Manager</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/items">Manage Items</a></li>
                <li class="active"><a href="/order">Resupply Orders<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container" ng-app="resupplyApp">
    <section id="orderSection" ng-controller="ManageOrderController">
        <section class="orderDisplay" ng-repeat="order in orders">
            <div class="orderDisplayHeader">
                <h4>Resupply for {{order.user.location}} submitted by {{order.user.email}}</h4>
                <span class="addBtn green" ng-click='order.filled = !order.filled; saveSingle(order);'>{{order.filled | iif : "Filled" : "Unfilled"}}</span>
            </div>
            <div>
                <table>
                    <tr>
                        <td><b>Number</b></td>
                        <td><b>Item</b></td>
                        <td><b>Par</b></td>
                    </tr>
                    <tr ng-repeat="item in order.requestedItems">
                        <td ng-if='item.number > 0'>{{item.number}}</td>
                        <td ng-if='item.number > 0'>{{item.item.name}}</td>
                        <td ng-if='item.number > 0'>{{item.sizeType}}</td>
                    </tr>
                </table>
            </div>
        </section>
    </section>
</div>
<hr/>
<footer>
    <p>&copy; Brave Studios 2015</p>
</footer>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>