<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      ng-app="chardbApp">
<head>
    <title>CharDB - Login</title>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'/>
    <link rel='stylesheet prefetch' href='/css/main.css'/>
    <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>
    <script type="text/javascript" src="/js/ng-imgur.min.js"></script>

    <script src="/js/main.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png"/>
</head>
<body>
<div class="page">
    <img id="leftTape" src="/images/tape-left.png"/>
    <img id="rightTape" src="/images/tape-right.png"/>
    <header th:replace="fragments/header :: header"></header>

    <section id="loginForm">
        <div id="loginDiv">
            <form ng-submit="submit()" ng-controller="RegistrationController">
                <div>
                    <input type="text" name="email" placeholder="Email" ng-model="email" class="longInput handwrite"/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password" ng-model="password"
                           class="longInput handwrite"/>
                </div>
                <div>
                    <input type="submit" value="Register" id="loginButton" class="handwrite"/>
                </div>
            </form>
        </div>
    </section>
    <img id="pen" src="/images/penspatter.png"/>
</div>
</body>
</html>