<script>
    function changeNavigation(id) {
        document.getElementById('mainbox').innerHTML = document
                .getElementById(id).innerHTML
    }
</script>
<img style="float: center:" src="http://i.imgur.com/nU9EtcS.png"
     usemap="#ImageMap1">

<map id="ImageMap1" name="ImageMap1">
    <area shape="rect" coords="84,460,259,490" id="1b"
          onclick="changeNavigation('Home')">
    <area shape="rect" coords="82,501,258,531" id="2b"
          onclick="changeNavigation('About')">
    <area shape="rect" coords="84,542,259,570" id="3b"
          onclick="changeNavigation('Love')">
    <area shape="rect" coords="85,584,259,613" id="4b"
          onclick="changeNavigation('Friends')">
    <area shape="rect" coords="84,622,259,651" id="5b"
          onclick="changeNavigation('Badges')">
    <area shape="rect" coords="85,662,258,691" id="6b"
          onclick="changeNavigation('Support')">
</map>

<div id="mainbox"
     style="position: absolute; left: 285px; top: 325px; width: 495px; height: 279px; overflow: auto; border: 0px; background-color: transparent; color: #000000;">
    <center>
        <font face="verdana" size="1" color="white"> Welcome to the
            chaos. Strait jackets to the left, happy pills to the right. See
            something you don’t like message me or simply don’t look. </font>
    </center>
</div>

<div id="Home" style="display: none">
    <center>
        <font face="verdana" size="1" color="white"> Welcome to the
            chaos. Strait jackets to the left, happy pills to the right. See
            something you don’t like message me or simply don’t look.</font>
    </center>
</div>

<div id="About" style="display: none">
    <center>
        <font face="verdana" size="1" color="white">
            <p>RP: I am Destiny DrakeWolf, Empress to the DrakeWolf Empire.
                The DrakeWolf rp has been around for several years and has grown so
                much. I am pleased with the group of people we have in it and have
                become very attached to several. The role play itself is set in the
                medieval time period since we have traveled back in time to the year
                565 A.D. It is a T1 para role play that is MP, why MP you might ask?
                Well simple what fun is it if every character was god like? The
                DrakeWolf rp is also a teaching role play. Let’s face it there are
                not that many active role plays on here anymore. So we must teach
                the new batch of role players to ensure it doesn’t fade completely.
                We are always recruiting so stop on in the ooc room and speak to any
                member.</p>

            <p>RL: In real life I am a bit of a loner. I speak to a handful
                of people and I am completely satisfied with this. I am also in the
                BDSM lifestyle; it is something I am very passionate about. I find
                the lifestyle beautiful; the relationship developed is overwhelming
                at times and becomes a need. Sometimes in life the most freeing
                thing one can do is relinquish all control to another person. Once
                you have tasted the flavorful life vanilla is just never good
                enough.</p>
        </font>
    </center>
</div>

<div id="Love" style="display: none">
    <center>
        <font face="verdana" size="1" color="white">
            GhelGathDeamonSoul, we have known one another over four years and
            finally we are together. You are Daddeh and I will always be your
            baby girl. Most don’t understand our dynamic or how it works, but it
            does for us. You are my biggest fan, my strength, my jerk, my forever
            butthead. I love you Daddeh always have and always will. </font>
    </center>
</div>

<div id="Friends" style="display: none">
    <center>
        <font face="verdana" size="1" color="white"> There are so many
            <p>I wish I could list but the list is too long. I love every
                single one of my friends, and family members. Without you all I
                don’t think I would have made it the past few years. You are all my
                heart!</p>

            <p>Jecht, you’re my best friend. I couldn’t do half of what I do
                without you. You are about the only person to flick me in the
                forehead and tell me to stop being stupid. For that you will always
                be my A, my best friend.</p>

            <p>AlleMaestroLupo, Poppa, ti amo! I could never imagine not
                knowing you. You are an amazing man. I look up to you and hold more
                respect for you then I do my rl father.</p>

            <p>FragmentedFantasies, Gotta love my Fraggle Rock! You are the
                best Fraggy.</p>

            <p>CatalinaSkyRaven, sis, I love you to death. We have been
                through it all together. Hard to believe it’s been so long; glad we
                never have tired of one another.</p>
        </font>
    </center>
</div>

<div id="Badges" style="display: none">
    <center>
        <font face="verdana" size="1" color="white"> Soon.. </font>
    </center>
</div>

<div id="Support" style="display: none">
    <center>
        <font face="verdana" size="1" color="white">
            Soon...
        </font>
    </center>
</div>


<div id="Other_box"
     style="position: absolute; left: 281px; top: 188px; width: 503px; height: 17px; border: 0px; background-color: transparent; color: #000000;">
    <center>
        <font face="verdana" size="1" color="white">
            <marquee>
                Hello awesome person. ^-^
            </marquee>
        </font>
    </center>
</div>
<style type="text/css">
    #xtended_dev_panel_header {
        text-align: left;
        background-color: transparent;
    }

    #xtended_dev_panel_header {
        color: #000000;
    }

    #xtended_dev_panel_body {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    #xtended_dev_panel {
        margin-bottom: 20px;
        border: 0px #CCCCCC;
    }

    #avatar_name {
        color: transparent;
    }
</style>
<font face="verdana" size="1" color="white">

    <div id="Other_box"
         style="position: absolute; left: 287px; top: 634px; width: 496px; height: 92px; border: 0px; background-color: transparent; color: #000000;">
        <center>
            <font face="verdana" size="1" color="white"></font>
        </center>
    </div>
    <font face="verdana" size="1" color="white">

        <div id="avi_box"
             style="width: 160px; height: 220px; position: absolute; left: 102px; top: 248px; z-index: 1">
            <img
                    src="http://www.imvu.com/catalog/web_av_pic.php?av=DestinyDrakeWolf">

        </div>
        <!--
               <div id="gaf210imvustylez_youtubebox"
                   style="width: 1px; height: 1px; overflow: hidden;">
                   <object width="300" height="300">
                       <param name="movie"
                           value="http://www.youtube.com/v/0o0JMr_bdoQ?list=PLwipkFc7FMjjAr7q0KoA9alPeYhf5f4q_&index=0&hd=1&autoplay=1&loop=1">
                       <param name="allowscriptaccess" value="always">
                       <embed
                           src="http://www.youtube.com/v/0o0JMr_bdoQ?list=PLwipkFc7FMjjAr7q0KoA9alPeYhf5f4q_&index=0&hd=1&autoplay=1&loop=1"
                           type="application/x-shockwave-flash" allowscriptaccess="always"
                           width="300" height="300">
                   </object>
                   <!--Youtube player code generated @ http://gaf210.imvustylez.net -->
        </div> -->
        <iframe width="0" height="0"
                src="https://www.youtube.com/embed/cI0wUoCLnLk?autoplay=1"
                frameborder="0"></iframe>
        <style type="text/css">
            #aboutme_panel, #contact_panel, #dev_panel, #wishlist_panel, #visitors_panel, #messages_panel, #tagcloud_panel, #stickers_panel, #collect_panel, #room_panel, #rankings_panel, #cool_panel, #gallery_panel, #friends_panel, #streetteam_panel, #blog_panel, #video_panel_header, #music_panel, #rss_panel, #url_panel, #special_panel, #outfits_panel {
                width: 900px !important;
            }

            #rightColumn {
                display: none !important;
            }
        </style>
        <style type="text/css">
            #url_panel_colRow, .imvucodes_net {
                display: none !important;
            }
        </style>